@import "./_variables";

@media (min-width: 320px) and (max-width: 775px){
	.footer-container {
		text-align: center;
	}

	.footer .logo {
		margin-bottom: 20px;
	}

	.footer .social-icons {
		justify-content: center;
	}

	.footer .info-box {
		text-align: center;
	}

	.footer .footer-content {
		flex-direction: column;
    align-items: center !important;
	}

	.footer .footer-menu {
		margin-bottom: 20px;
	}

	.footer .footer-menu h5 {
		margin-bottom: 10px;
	}

	.footer .footer-menu div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer .footer-menu a {
		margin-bottom: 5px;
	}
}

footer {
    &.non-gradient-bg {
      background-color: #ededed;
      position: relative;
      z-index: 4; /* Message section */

      .first {
        width: 100px;
      }

      .footer-menu {
        margin-bottom: 3rem; // Adjust the gap between each footer menu

    
        h5 {
          font-size: 16px;
            font-weight: 700;
            color: var(--Color-Primary-P500, #4C539F); // Adjust the color as needed
            margin-bottom: 10px;
        }
    
        div {
            margin-bottom: 5px;
            color: var(--Color-Neutral-N900, #393C46); // Adjust the text color as needed
            font-size: 16px;
            font-weight: 700;
        }
    
        a {
          font-size: 16px;
          text-decoration: none;
          color: var(--Color-Neutral-N900, #393C46);  
          font-weight: 400;
        }
    }

      .resource {
        width: 150px;
        font-size: 16px;
        text-decoration: none;
        color: var(--Color-Neutral-N900, #393C46);  

        @media (max-width: 450px) {
          position: relative;
          left: 4px;
      }

      @media (min-width: 1001px) and (max-width: 1200px){
        width: 137px;
      }
    }

      .office {
        color: var(--Color-Primary-P500, #4C539F);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 200% */

          .strong{
            font-size: 16px;
            font-weight: 400;
          }

          p {
            font-size: 16px;
            font-weight: 400;
          }
      }
      
      .container {
        padding: 3rem 0;

        .footer-content {


          .social-icons {
            align-items: center;
            margin-bottom: 1rem;
            gap: 5px;

            @media (max-width: 450px) {
                justify-content: center;
            }

            .about {
              flex-direction: column; 
              justify-content: flex-start; 
              align-items: flex-start; 
              display: inline-flex;
            }

            &>* {
              padding-right: 0;
            }

            .svg-box {
              width: 4rem;
              height: 4rem;
              cursor: pointer;

              .fb-icon {
                transition: $tran-5s ease-in-out;

                path:nth-child(1) {
                  fill: $c333;
                }

                path:nth-child(2) {
                  fill: $cf7f;
                }
              }

              .twitter-icon {
                transition: $tran-5s ease-in-out;

                path:nth-child(1) {
                  fill: $c333;
                }

                path:nth-child(2) {
                  fill: $cf7f;
                }
              }

              .linkedin-icon {
                transition: $tran-5s ease-in-out;

                path:nth-child(1) {
                  fill: $c333;
                }

                path:nth-child(2) {
                  fill: $cf7f;
                }
              }

              .ig-icon {
                transition: $tran-5s ease-in-out;

                path:nth-child(-n + 5):nth-child(n + 3) {
                  fill: $cf7f;
                }

                radialGradient {
                  stop {
                    stop-color: $c333;
                  }
                }
              }

              .medium-icon {
                transition: $tran-5s ease-in-out;

                path:nth-child(1) {
                  fill: $c333;
                }

                path:nth-child(2) {
                  fill: $cf7f;
                }
              }

              &:hover {
                svg {
                  transform: scale(1.3);
                }

                .fb-icon {
                  path:nth-child(1) {
                    fill: #1877f2;
                  }

                  path:nth-child(2) {
                    fill: $cf7f;
                  }
                }

                .twitter-icon {
                  path:nth-child(1) {
                    fill: #1da1f2;
                  }

                  path:nth-child(2) {
                    fill: $cf7f;
                  }
                }

                .linkedin-icon {
                  path:nth-child(1) {
                    fill: #2867b2;
                  }

                  path:nth-child(2) {
                    fill: $cf7f;
                  }
                }

                .ig-icon {
                  path:nth-child(-n + 5):nth-child(n + 3) {
                    fill: $cf7f;
                  }

                  radialGradient:nth-child(1) {
                    stop:nth-child(1) {
                      stop-color: #ff1b90;
                    }

                    stop:nth-child(2) {
                      stop-color: #f80261;
                    }

                    stop:nth-child(3) {
                      stop-color: #ed00c0;
                    }

                    stop:nth-child(4) {
                      stop-color: #7017ff;
                    }
                  }

                  radialGradient:nth-child(2) {
                    stop:nth-child(1) {
                      stop-color: #ffd600;
                    }

                    stop:nth-child(2) {
                      stop-color: #ff6930;
                    }

                    stop:nth-child(3) {
                      stop-color: #fe3b36;
                    }

                    stop:nth-child(4) {
                      stop-color: #fe3b36;
                    }
                  }
                }

                .medium-icon {
                  path:nth-child(1) {
                    fill: $cf7f;
                  }

                  path:nth-child(2) {
                    fill: $c333;
                  }
                }
              }
            }
          }
        }
      }
    }
  }






